.sign-bottom {
  width: 100%;
}

.sign-bottom__error-message {
  font-size: 11px;
  line-height: 13px;
  text-align: center;
  color: #FF004C;
}

.sign-bottom__button {
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #2BE080;
  border-radius: 3px;
  padding: 14px 0;
  border: none;
  transition: .3s;
}

.sign-bottom__button_disabled {
  pointer-events: none;
  background-color: #F8F8F8;
  color: #C2C2C2;
}

.sign-bottom__button:hover {
  opacity: .7;
}

.sign-bottom__container {
  margin-top: 16px;
  display: flex;
  column-gap: 6px;
  justify-content: center;
}

.sign-bottom__link-description {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #8B8B8B;
  margin: 0;
}

.sign-bottom__link {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #2BE080;
  text-decoration: none;
  transition: .3s;
}

.sign-bottom__link_disabled {
  color: #F8F8F8;
  pointer-events: none;
}

.sign-bottom__link:hover {
  opacity: .7;
}

@media screen and (max-width: 545px){
  .sign-bottom__button {
    font-size: 12px;
    line-height: 15px;
  }

  .sign-bottom__link-description {
    font-size: 12px;
    line-height: 15px;
  }

  .sign-bottom__link {
    font-size: 12px;
    line-height: 15px;
  }
}